# Ignore bundler config
/.bundle

# Ignore gems and dependencies
/vendor/bundle
/vendor/cache

# Ignore logs and temp files
/log/*
/tmp/*
/storage/*
!/log/.keep
!/tmp/.keep
!/storage/.keep

# Ignore uploaded files in development
/public/uploads

# Ignore Byebug command history file.
.byebug_history

# Ignore database files
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb
/db/structure.sql

# Ignore test, coverage, and system test files
/coverage/
/spec/examples.txt

# Ignore system files
.DS_Store
*.swp
*~
.project
.idea/
.secret
.env

# Ignore Yarn and Node files
/node_modules
/yarn-error.log

# Ignore Sprockets cache
/public/assets
/public/packs
/node_modules
.byebug_history
log/development.log

